.social{
    width: 83px;
    height: 83px;
    background-image: url(social.png);
    background-repeat: no-repeat;
    background-position: 0px -84px;
    border-radius: 50%;
}

.social:hover{
    background-position: 0px -167px;
    transition: 0.5s;
}